div {
    margin: 0px auto;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-family: arial;
}
ul {
    list-style: none;
}
li {
    display: inline;
    padding: 20px;
}
li a {
    color: #4D4D4D;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
